<div>
  <h2>{{title}}</h2>
  
  {{#each products}}
    <p>
      id:
      {{this.id}}
      nombre:
      {{this.title}}
      precio:
      {{this.price}}
      categoría:
      {{this.category}}
    </p>
    <hr />
  {{/each}}
</div>

